body{
    background: linear-gradient(44.8deg, rgba(255, 136, 102, 0.67) -53.1%, rgba(255, 221, 136, 0.28) 49%);
    font-family: 'PT Serif', serif;
    min-height: 100vh;
}

.container{
    margin: 20px 150px;
    padding: 20px;
    color: #422e2e;
    border-radius: 5px;
    border: 1px solid #ffdac3;
    background-color: #fff4dd;

}

.search-form{
    font-family: 'PT Serif', serif;
    padding: 5px;
    border:none;
    border-radius: 2px;
    font-size:16px;
    transition: all 0.3s ease-in-out;
}

button{
    background: #ffdac3;
    color: #422e2e;
    cursor: pointer;
    font-family: 'PT Serif', serif;
    padding: 5px;
    border: none;
    border-radius: 2px;
    font-size:16px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    box-shadow: 2px 2px 2px 0px #e3a57f;  
    background: #FFF3DC;
    border: white;
}

.current-temp{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.current-temp:hover{
    color:#e3a57f;
}

#displayedcity{
    transition: all 0.3s ease-in-out;
    cursor: pointer; 
}

#displayedcity:hover{
    color:#7c6393;
}

h3{
    font-weight:100;
}

.weather-app-icon{
   font-size:smaller;
   max-width:100%;
   margin: 0 auto;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

footer{
    font-size: 15px;
    font-weight:lighter;
    text-align: center;
}

.cute{
    font-size: 20px;
}