body{
    background: linear-gradient(44.8deg, rgba(255, 136, 102, 0.67) -53.1%, rgba(255, 221, 136, 0.28) 49%);
    font-family: 'PT Serif', serif;
    min-height: 100vh;
}

.container{
    margin: 30px 120px;
    padding: 20px;
    color: #422e2e;
    border-radius: 5px;
    border: 1px solid #ffdac3;
    background-color: #fff4dd;
    box-shadow: rgba(235, 65, 3, 0.25) 0px 30px 60px -12px;

}

.search-form{
    font-family: 'PT Serif', serif;
    padding: 5px;
    border:none;
    border-radius: 2px;
    font-size:16px;
    transition: all 0.3s ease-in-out;
}

button{
    background: #ffdac3;
    color: #422e2e;
    cursor: pointer;
    font-family: 'PT Serif', serif;
    padding: 5px;
    border: none;
    border-radius: 2px;
    font-size:16px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    box-shadow: 2px 2px 2px 0px #e3a57f;  
    background: #FFF3DC;
    border: white;
}

.current-temp{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.current-temp:hover{
    color:#e3a57f;
}

#displayedcity{
    transition: all 0.3s ease-in-out;
    cursor: pointer; 
}

#displayedcity:hover{
    color:#7c6393;
}

h3{
    font-weight:100;
}

.weather-app-icon{
   font-size:smaller;
   max-width:100%;
   margin: 0 auto;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.weather-forecast-temperatures{
    display: flex;
    justify-content: space-around;
}

.weather-forecast-icon {
    width: 80px;
    display: block;
    margin: 0 auto;
}

.weather-forecast-date, .weather-forecast-temperature-min{
    text-align: center;
}

footer{
    font-size: 15px;
    opacity:0.6s;
    text-align: center;
    margin-top: 20px;
}

.cute{
    font-size: 20px;
}
